@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

#root {
  @apply flex h-full flex-col;
}

@layer components {
  .lexi-cell {
    @apply w-12 rounded px-1 text-right text-sm transition hover:opacity-50;
  }

  .lexi-button {
    @apply inline-flex items-center gap-1.5 rounded px-2 py-0.5 text-sm hover:bg-slate-100;
  }

  .lexi-button.blue {
    @apply border border-blue-300 bg-blue-100 text-blue-500 hover:bg-blue-200;
  }

  /* FIXME: Less tuning */
  .lexi-text-stats-view {
    .lexi-text-stats-view-item {
      order: 1;
    }
    .lexi-word-unidentified {
      order: 0;
    }
  }
}

.lexi-h1 {
  @apply mb-2 text-2xl font-bold;
}

.lexi-h2 {
  @apply mb-2 text-xl;
}

.lexi-input {
  @apply rounded border border-slate-300 px-2 py-1;
}

/*
.lexi-p {
  @apply mb-4 text-slate-200;

  word-spacing: -0.1rem;
  line-height: 2.2rem;
}
*/

.lexi-word-unidentified {
  @apply cursor-pointer rounded bg-slate-100 px-0.5 text-slate-600 transition hover:bg-slate-200;
}

.lexi-button-ignored {
  @apply border border-dashed border-red-400 text-slate-800;
}

.lexi-speech {
  @apply font-bold;
}

.lexi-word-ignored,
.lexi-word-0 {
  @apply bg-transparent text-slate-800 hover:bg-slate-50;

  &.cell.has-note {
    @apply border-slate-500;
  }
}

.lexi-word-1 {
  @apply bg-emerald-50 text-emerald-800 hover:bg-emerald-200;

  &.cell.has-note {
    @apply border-emerald-300;
  }
}

.lexi-word-2 {
  @apply bg-sky-100 text-sky-800 hover:bg-sky-200;

  &.cell.has-note {
    @apply border-sky-300;
  }
}

.lexi-word-3 {
  @apply bg-amber-100 text-amber-800 hover:bg-amber-200;

  &.cell.has-note {
    @apply border-amber-300;
  }
}

.lexi-word-4 {
  @apply bg-rose-100 text-rose-800 hover:bg-rose-200;

  &.cell.has-note {
    @apply border-rose-300;
  }
}

.lexi-word-5 {
  @apply bg-lexi-5-light text-lexi-5-dark hover:opacity-50;

  &.cell.has-note {
    @apply border-fuchsia-300;
  }
}

@layer utilities {
  .selected {
    @apply outline-dashed outline-1 outline-slate-500;
  }

  .phrase {
    @apply border-b-2 border-red-400;
  }

  .mark {
    position: relative;
  }

  .mark::after {
    position: absolute;
    opacity: 50%;
    right: -4px;
    top: -12px;
    font-size: 80%;
  }

  .mark.has-note::after {
    content: '*';
  }
  .mark.exclamation::after {
    content: '!';
  }
  .mark.question::after {
    content: '?';
  }
}
