@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

@layer components {
  .lexi-button {
    @apply inline-flex items-center gap-1.5 rounded px-2 py-0.5 text-sm hover:bg-slate-100;
  }

  .lexi-button.blue {
    @apply border border-blue-300 bg-blue-100 text-blue-500 hover:bg-blue-200;
  }
}

.lexi-h1 {
  @apply mb-2 text-2xl font-bold;
}

.lexi-h2 {
  @apply mb-2 text-xl;
}

.lexi-input {
  @apply rounded border border-slate-300 px-2 py-1;
}

.lexi-p {
  @apply mb-4 text-slate-600;

  word-spacing: -0.1rem;
  line-height: 2.2rem;
}

.lexi-word-unidentified {
  @apply cursor-pointer rounded bg-slate-100 px-0.5 text-slate-600 transition hover:bg-slate-200;
}

.lexi-button-ignored {
  @apply border border-dashed border-red-400 text-slate-800;
}

.lexi-word-ignored,
.lexi-word-0 {
  @apply bg-transparent text-slate-800 hover:bg-slate-50;
}

.lexi-word-1 {
  @apply bg-emerald-50 text-emerald-800 hover:bg-emerald-200;
}

.lexi-word-2 {
  @apply bg-sky-100 text-sky-800 hover:bg-sky-200;
}

.lexi-word-3 {
  @apply bg-amber-100 text-amber-800 hover:bg-amber-200;
}

.lexi-word-4 {
  @apply bg-rose-100 text-rose-800 hover:bg-rose-200;
}

.lexi-word-5 {
  @apply bg-lexi-5-light text-lexi-5-dark hover:opacity-50;
}

@layer utilities {
  .mark {
    position: relative;
  }

  .mark::after {
    position: absolute;
    opacity: 50%;
    right: -4px;
    top: -12px;
    font-size: 80%;
  }

  .asterisk::after {
    content: '*';
  }
  .exclamation::after {
    content: '!';
  }
  .question::after {
    content: '?';
  }
}
